@import "bootstrap";
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  padding-top: 60px;
  background: #cfcaac;
  background: url("2.png");
}
/*-------main block----------*/
.mainForm{
  overflow: hidden;
  color: #111111;
  padding-left: 20px;
}
.mainForm:after{
  display: block;
  content: '.';
  height: 0;
  visibility: hidden;
  clear: both;
}
.pole{
  width: 300px;
  float: left;
}
.text textarea{
  box-shadow: 0 0 20px rgba(0,0,0,1);
  height: 180px;
  width: 95%;
}
.rot{
  width: 150px;
  margin: 70px 36px 0 110px;
  input{
    box-shadow: 0 0 20px rgba(0,0,0,1);
    margin: auto;
    width: 50px;
    margin-left: 5px;
  }
  .btn{
    width: 75px;
    margin: 10px 0 0 0;
  }
}
.textOut{
  height: 300px;
}
.poleOut{
  box-shadow: 0 0 20px rgba(0,0,0,1);
  height: 185px;
  width: 290px;
  background: #ffffff;
  color: #111111;
  content: ' ';
  word-wrap: break-word;
  overflow: scroll;
}
.diagram{
  box-shadow: 0 0 20px rgba(0,0,0,1);
  margin: 0 0 0 20px;
  height: 130px;
  width: 596px;
  overflow: hidden;
  background: #ffffff;
  background: url("44.png");
  figure{
    margin: 0 1px 0 1px;
    display: inline-block;
    text-align: center;
    padding-top: 0;
    figcaption{
      vertical-align:bottom; /* вот она */
      display:inline-block;
      width: 15px;
      height: 18px;
      line-height: 15px;
      background: #692a00;
      color: #ffffff;
      padding-top: 0;
    }
    #a0{
      margin-left: 45px;
    }
    #end{
      height: 130px;
      width: 0;
    }
  }
}
.count p{
  float: left;
  margin: 10px 0 0 10px;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #cfbe9d;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}


/* footer */

footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #2f1100;
  color: #303030;
  ul{
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 40px;
    li{
      list-style: none;
      a{
        color: #303030;
      }
      a:hover{
        color: #111111;
      }

    }
  }
}
